body{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.Weather{
    border: 1px solid #dadde1;
    color: rgb(135,135,135);
    padding: 16px;
    margin: 30px auto;
    max-width:600px;
    border-radius: 4px;
}


.Weather h1{
    color: #878787;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin:20px 0 0 0;
}

.Weather ul{
    margin: 0;
    padding: 0;
}

.Weather li{
    font-size:16px;
    font-weight:100;
    line-height:19.2px;
    list-style: none;
}

.Weather img{
    height: 64px;
    margin-right: 10px;
    display: inline-block;
}

.Weather .temperature{
    font-weight: bold;
    color: rgb(33,33,33);
    font-size:64px;
    font-weight: 400;
    line-height:64px;
}

.Weather .unit{
    color: rgb(33,33,33);
    font-size:16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top:-34px;
    margin-left: 5px;
}
.Weather .btn-btn-primary{
    background-color: #29d2e4;
    border: 1px ;
    border-radius: 8px;
    padding: 8px;
    color:White;
}